<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="home" class="nav-link nav-logo">
        <clr-icon shape="wallet"></clr-icon>
        <span class="title">BudgetBuddy</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Budget</span>
      </a>
      <a routerLink="/analyze" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Analyze</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
